.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.col-3 {
  padding: 25px;
  margin: 25px;
  overflow: auto;
  height: 100%;
}

.bg-light {
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}